@model LojaAutoPecas.Models.Pecas

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<div class="row">
    <div class="col">
        @using (Html.BeginForm())
        {
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Has Stock</th>
                </tr>

                <tr>
                    <td>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

                    </td>
                    <td>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.InStock, new { htmlAttributes = new { @class = "" } })
                    </td>
                </tr>

            </table>
            <input type="submit" value="Update" class="btn btn-primary" />
        }



    </div>
</div>



